@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --dark-blue: #1c315e;
  --dark-green: #227c70;
  --light-green: #88a47c;
  --light: #e9e6d3;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: var(--dark-blue);
  color: var(--light);
}
.app-header a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
.app-header .app-logo {
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  margin-right: auto;
}
.app-header .link {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
}
.app-header .shopping-cart-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("./components/icons/shopping-cart.svg");
  background-size: contain;
}
.app-header .link:hover {
  cursor: pointer;
  opacity: 0.55;
}

.shopping-cart {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  transition: width 0.3s ease-in-out;
  background-color: var(--light);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.shopping-cart.active {
  width: min(400px, 100vw);
}
.shopping-cart .shopping-cart-header {
  font-family: "Roboto Condensed", sans-serif;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping-cart .close-btn {
  cursor: pointer;
}

.home {
  flex: 1;
  background-image: url("./components/running.svg");
  background-size: min(100vw, 500px);
  background-repeat: no-repeat;
  background-position: 90% 80%;
}
.home h1 {
  margin: 2rem;
  color: var(--dark-green);
  font-family: "Anton", sans-serif;
  font-size: 4rem;
}
